.mainNav {
  background-color: rgb(14, 14, 112);
  padding: 15px 30px;
}
.mainNav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.mainNav a:hover {
  color: rgb(203, 82, 82);
}
.mainNav a.active {
  font-weight: bold;
}
